{%extends 'df_user/base_center.html'%}


{%block head%}
<script>
   $(function () {
       $('.oper_btn').each(function () {
           //获取支付状态
           status=$(this).attr('status')
           if(status == 1){
               $(this).text('去支付')
           }
           else if(status == 4){
               $(this).text('去评价')
           }
           else if(status == 5){
               $(this).text('已完成')
           }
       })


       $('.oper_btn').click(function () {
           //获取status
           status=$(this).attr('status')
           //获取订单id
           order_id=$(this).attr('order_id')
           if(status == 1){
               //进行支付
               csrf=$('input[name="csrfmiddlewaretoken"]').val()
                params={
                'order_id':order_id,
                'csrfmiddlewaretoken':csrf
                 }

                 $.post('/order/pay/',params,function (data) {
                     if(data.res == 3){
                         //引导用户到支付页面
                         window.open(data.pay_url)
                         $.post('/order/check/',params,function (data) {
                             if(data.res == 3){
                                 alert('支付成功')
                                 location.reload()
                             }else{
                                 alert(data.errmsg)
                             }
                         })
                     }else{
                         alert(data.errmsg)
                     }
                 })
           }else if(status == 4){
               // 其他情况
               // 跳转到评价页面
             location.href = '/order/comment/'+order_id
           }
       })
   })
</script>





{%endblock head%}

{%block right%}
    {% csrf_token %}
<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
           {% for order in my_page.object_list %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">{{ order.order_id }}</li>
					<li class="col02 stress">{{ order.get_order_status_display }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for order_sku in order.order_skus%}
								<ul class="order_goods_list clearfix">
									<li class="col01"><img src="{{ order_sku.sku.image.url }}"></li>
									<li class="col02">{{ order_sku.sku.name }}<em>{{ order_sku.sku.price }}元/{{ order_sku.sku.unite }}</em></li>
									<li class="col03">{{ order_sku.count }}</li>
									<li class="col04">{{ order_sku.amount }}</li>
								</ul>
								{% endfor %}
							</td>
							<td width="15%">{{ order.total_price }}(含运费:{{ order.transit_price }}元)</td>
							<td width="15%">{{ order.get_order_status_display }}</td>
							<td width="15%"><a href="#" class="oper_btn" status="{{ order.order_status  }}" order_id="{{ order.order_id }}">去付款</a></td>
						</tr>
					</tbody>
				</table>
           {% endfor %}

				<div class="pagenation">
                {% if my_page.has_previous %}
                    <a href="/user/order/{{ my_page.previous_page_number  }}">上一页</a>
                {% else %}
                    <a>上一页</a>
                {% endif %}

                {% for page in page_list %}
                    {% if page == my_page.number %}
                        <a class="active">{{ page }}</a>
                    {% else %}
                       <a href="/user/order/{{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if my_page.has_next %}
                    <a href="/user/order/{{ my_page.next_page_number }}">下一页</a>
                {% else %}
                    <a>下一页</a>
                {% endif %}
				</div>
		</div>


{%endblock right%}

